<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
    <activity
        android:name="io.agora.scene.convoai.ui.CovLivingActivity"
        android:keepScreenOn="true"
        android:configChanges="locale|layoutDirection"
        android:screenOrientation="portrait"
        android:launchMode="singleTask"
        android:exported="false" />

        <service
            android:name=".ui.CovLocalRecordingService"
            android:foregroundServiceType="microphone|mediaPlayback">
        </service>
    </application>
</manifest>
